1_compare_duplicate.py
origin_manuscript_paper.txt
manuscript_paper.txt
chinese_character.txt
數字標點.txt
all_manuscript_copy.txt
characters_history.txt

*Merge/
*PDF/
*qrcode/
*Table/
manuscripts-final/

千字文/
長恨歌/
洛神賦/
詩經/
注音、部首/
英數、標點/
姓氏名字號/

114598033*